.tutorial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-height: 75%;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .tutorial-content {
    overflow: auto;
  }
  
  .tutorial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tutorial-close-button {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .tutorial-close-button:hover {
    color: red;
  }
  
  .tutorial-next-button,
  .tutorial-prev-button {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tutorial-prev-button {
    margin-right: 10px;
  }
  
  .tutorial-next-button:hover,
  .tutorial-prev-button:hover {
    background-color: #0059b3;
  }
  