.grid-container {
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  margin-left: 100px; /* You can adjust this value to increase or decrease the left margin */
}

.grid {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  font-size: 0;
}

.navbar .comparison-button {
  color: white;
  background-color: purple;
  border-color: purple;
}

.text-with-icon span {
  margin-right: 8px;
}

.grid tr,
.grid td {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
}
.algo {
  text-align: center;
  font-family: sans-serif;
}

.underNav {
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 30px;
}

.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.underNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.underNav li {
  float: left;
}

.speed {
  display: inline-block;
}

.stateSpeed {
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin: 0 0.42em;
  padding: 0 28px 0 0;
}

#mainText > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 28px 0 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#mainText div {
  /*border: 1px solid rgb(12, 53, 71);*/
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin: 0 0.42em;
}

ul,
ol {
  margin-bottom: 15px;
}

.algorithm-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;

  margin-top: 40px;
  margin-left: 100px;
}

.algorithm-info-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.legend-container {
  position: fixed;
  top: 20%;
  right: 8%;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.legend-list,
.comparison-list {
  list-style-type: none;
  padding: 0;
}

.legend-icon {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.legend-list li,
.comparison-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend-color {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin-right: 8px;
}
